# Generated with Atomizr - https://github.com/idleberg/sublime-atomizr
'.source.haskell':
  decrypt:
    body: 'atMostOneSection [${1:SectionId}]$0'
    leftLabelHTML: '<span class=\'support function\'>Sections</span>'
    prefix: 'atMostOneSection'
  encrypt:
    body: 'exactlyOneSection [${1:SectionId}]$0'
    leftLabelHTML: '<span class=\'support function\'>Sections</span>'
    prefix: 'exactlyOneSection'
