".source.haskell":
  "Basic Script":
    body: '''
      ${1:variable} = do
      \tname "${2:installer_name}"
      \toutFile "${3:${2:installer_name}}.exe"
      \trequestExecutionLevel ${4:Admin}
      \tinstallDir "\\$PROGRAMFILES/${5:${2:installer_name}}"

      \tpage Components
      \tpage Directory
      \tpage InstFiles

       \tsection "${6:section_name}" [$7] $ do
       \t\t${8:-- your code here}
    '''
    description: "Creates a basic installer template"
    prefix: "scaffold"
